@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #00020e;
  --color: #ffffff;
  --blue: #4a6b85;
}

body {
  /* LinearGradient background */
  background: rgb(0, 3, 20);
  background: -moz-linear-gradient(
    309deg,
    rgba(0, 3, 20, 1) 0%,
    rgba(0, 1, 7, 1) 52%
  );
  background: -webkit-linear-gradient(
    309deg,
    rgba(0, 3, 20, 1) 0%,
    rgba(0, 1, 7, 1) 52%
  );
  background: linear-gradient(
    309deg,
    rgba(0, 3, 20, 1) 0%,
    rgba(0, 1, 7, 1) 52%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000314", endColorstr="#000107", GradientType=1);
  font-family: "Cinzel Decorative", serif;
  color: white;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Darker grey for the thumb */
  border-radius: 10px;
  border: 3px solid #f0f0f0; /* Light grey border to create a hollow effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker grey on hover */
}

/* Custom scrollbar for Mozilla browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) #f0f0f0; /* Dark grey thumb and light grey track */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* Ensure light grey background for the track */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Darker grey for the thumb */
  border-radius: 10px;
  border: 3px solid #f0f0f0; /* Light grey border to create a hollow effect */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker grey on hover */
}

/* Custom scrollbar for Edge */
body {
  -ms-overflow-style: none; /* Disable default scrollbar in Edge */
}

body::-webkit-scrollbar {
  display: none; /* Hide default scrollbar in Edge */
}
