@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #07080D;
    --color: #ffffff;
    --blue: #4A6B85;
    --border: #969595;
}